{% extends "base.html" %}

{% block content %}

<h2> {{ produkty.klient }} </h2>
    <section class="section">
        <div class="col span-1-of-2">
            <h3>{{produkty.nazev_produktu}}</h3>
            <p>Předmět: {{ produkty.predmet }}</p>
            <p>Částka :{{ produkty.castka }} Kč</p>
        </div>
        <div class="col span-1-of-2">
            <h3>Status: {{produkty.status}}</h3>
            <p>Doba trvání smlouvy: {{ produkty.doba_trvani }}</p>
            <p>Platnost od: {{ produkty.platnost_od }}</p>
        </div>
    </section>  
    <a class="tlacitko tlacitko1" href="{% url 'update_produkt' produkty.id %}">edit</a>  
    <a class="tlacitko tlacitko3" href="{% url 'delete_produkt' produkty.id %}">smazat</a>
    <p><button onclick="history.back()">Zpět na detail klienta {{produkty.klient}}</button></p>
    
{% endblock %}