<!DOCTYPE html>
<html lang="cs-cz">

<head>
    <meta charset="UTF-8">
    <title>Evidence pojištění</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static '/evidence_pojisteni/style.css' %} ">
    <link rel="stylesheet" href=" {% static '/evidence_pojisteni/grid.css' %} ">
    <link rel="stylesheet" href=" {% static '/evidence_pojisteni/all.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static '/evidence_pojisteni/sheet.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>

<body>
    <div class="user_panel">
        <span>Uživatel: {{request.user}} ({{request.user.klient.jmeno}} {{request.user.klient.prijmeni}})</span>
        <span><a href="{% url 'logout' %}">Odhlásit se</a></span>
    </div>  
    <header id="header">
        <nav>
            <input type="checkbox" id="check">   
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>   
            <label class="logo"><span>Evidence</span>APP</label>
            <ul>
                {% if request.user.is_staff %}
                {% url 'home' as home_url %}
                <li><a class="{% if request.path == home_url %}active{% endif %}" href="{% url 'home' %}">Klienti</a></li>
                {% endif %}

                {% url 'produkty' as produkty_url %}
                <li><a class="{% if request.path == produkty_url %}active{% endif %}" href="{% url 'produkty' %}">Sjednat produkt</a></li>
                
                {% url 'user_page' as user_url %}
                <li><a class="{% if request.path == user_url %}active{% endif %}" href="{% url 'user_page' %}">Váš profil</a></li>
                

                {% if request.user.is_staff %}
                {% url 'create_klient' as create_klient_url %}
                <li><a class="{% if request.path == create_klient_url %}active{% endif %}" href="{% url 'create_klient' %}" id="kontaktbtn">Přidat klienta</a></li>
                {% endif %}
            </ul>
        </nav> 
    </header>
    <main id="centrovac" class="content">
        
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>Copyright © 2023 <a href="{% url 'home' %}">evidence pojisteni</a></p>
    </footer>
</body>

</html>